# Work-specific git config (included via gitdir for work repos)
[user]
        name = {{ onepasswordRead "op://Private/Me/Internet Details/display name" }}
        email = {{ onepasswordRead "op://Private/Me/Internet Details/agilebits email" }}
