[user]
        name = {{ onepasswordRead "op://Private/Me/Internet Details/username" }}
        email = {{ onepasswordRead "op://Private/Me/personal email" }}
        signingkey = {{ onepasswordRead "op://Private/Github - Signing/public key" }}

[color]
        ui = true

# Work overrides (any of these directories use work email)
[includeIf "gitdir:~/Documents/Code/Kolide.nosync/"]
        path = ~/.gitconfig-work

[includeIf "gitdir:~/Documents/Code/Work/"]
        path = ~/.gitconfig-work

[includeIf "gitdir:~/Documents/Code/Work.nosync/"]
        path = ~/.gitconfig-work

[core]
        excludesfile = ~/.gitignore_global
        editor = zed --wait
        pager = less -FRX

[init]
	defaultBranch = main

[push]
	default = current
	autoSetupRemote = true

[pull]
	rebase = true

[fetch]
	prune = true

[diff]
	algorithm = histogram

[merge]
	conflictstyle = zdiff3

[rerere]
	enabled = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[commit]
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
