{{ onepasswordRead "op://Private/Me/personal email" }} {{ onepasswordRead "op://Private/Github - Signing/public key" }}
{{ onepasswordRead "op://Private/Me/Internet Details/kolide email" }} {{ onepasswordRead "op://Private/Github - Signing/public key" }}
{{ onepasswordRead "op://Private/Me/Internet Details/agilebits email" }} {{ onepasswordRead "op://Private/Github - Signing/public key" }}
{{ onepasswordRead "op://Private/Me/Internet Details/agilebits email" }} ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMEVnGdyztOEb8/BTPs2ZXMP2Cu5NJJ+nTmCtGXCEhV8
