{{ onepasswordRead "op://Private/Me/personal email" }} {{ onepasswordRead "op://Private/Github - Signing/public key" }}
{{ onepasswordRead "op://Private/Me/Internet Details/kolide email" }} {{ onepasswordRead "op://Private/Github - Signing/public key" }}
{{ onepasswordRead "op://Private/Me/Internet Details/agilebits email" }} {{ onepasswordRead "op://Private/Github - Signing/public key" }}
